<div class="page-header">
  <%= link_to stocks_path, class: 'btn btn-default' do %>
    All Stocks
  <% end %>
  <%= link_to edit_stock_path(@stock), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show stock</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @stock.name %></dd>

  <dt>Investment date:</dt>
  <dd><%= @stock.investment_date %></dd>

  <dt>Brokerage:</dt>
  <dd><%= @stock.brokerage %></dd>

  <dt>Price:</dt>
  <dd><%= @stock.price %></dd>

</dl>
