<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-1 add-new">
            <div class="circle">
            </div>
            <div class="dropdown-content">
                <%= link_to  "Mutual Fund", new_mutual_fund_path %>
                <%= link_to "Stock", new_stock_path %>
                <%= link_to "Saving Account", new_saving_account_path %>
                <!-- <a href="#"></a> -->
            </div>
        </div>
        <div class="col-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-pills" id="nav-tab" role="tablist">
                                <% @asset_classes.each_with_index do |asset_class, i| %>
                                <% active, selected, _ = set_table_properties(i) %>
                                <%= link_to asset_class.name, "#nav-#{asset_class.internal_name}", class: "nav-item nav-link #{active}", id: "nav-#{asset_class.internal_name}-tab", "data-toggle": "tab" , role: "tab", "aria-controls": "nav-#{asset_class.internal_name}", "aria-selected": selected %>
                                <% end %>
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            <% @asset_classes.each_with_index do |asset_class, i| %>
                            <% active, _, show = set_table_properties(i) %>
                            <% if @assets[asset_class.internal_name.to_sym].present? %>
                            <%= render partial: "#{asset_class.internal_name}/details", locals: { asset: @assets[asset_class.internal_name.to_sym], total: @assets[asset_class.internal_name.to_sym][:total], asset_class: asset_class, active: active, show: show } %>
                            <% else %>
                            <div class="tab-pane fade <%= show %> <%= active %>" id=<%= "nav-#{asset_class.internal_name}" %> role="tabpanel" aria-labelledby=<%= "nav-#{asset_class.internal_name}-tab" %>>
                                <div class="add-new">
                                    <%= link_to  "Add #{asset_class.name}", public_send("new_#{asset_class.name.classify.downcase.gsub(' ', '_')}_path") %>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
