


<div class="row">
  <div class="col-sm-6">
    <h1>Mutual_funds</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_mutual_fund_path, class: 'btn btn-primary' do %>
    Add New Mutual fund
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Invetment type</th>
            <th>Date of invetment</th>
            <th>Units</th>
            <th>Invetment amount</th>
            <th>Portfolio</th>
            
      </tr>
    </thead>

    <tbody>
      <% @mutual_funds.each do |mutual_fund| %>
        <%= content_tag :tr, id: dom_id(mutual_fund), class: dom_class(mutual_fund) do %>
          
            <td><%= link_to mutual_fund.name, mutual_fund %></td>
          

                      <td><%= mutual_fund.invetment_type %></td>
                      <td><%= mutual_fund.date_of_invetment %></td>
                      <td><%= mutual_fund.units %></td>
                      <td><%= mutual_fund.invetment_amount %></td>
                      <td><%= mutual_fund.portfolio %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
