<div class="page-header">
  <%= link_to mutual_funds_path, class: 'btn btn-default' do %>
    All Mutual_funds
  <% end %>
  <%= link_to edit_mutual_fund_path(@mutual_fund), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show mutual_fund</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @mutual_fund.name %></dd>

  <dt>Investment type:</dt>
  <dd><%= @mutual_fund.investment_type %></dd>

  <dt>Date of investment:</dt>
  <dd><%= @mutual_fund.date_of_investment %></dd>

  <dt>Units:</dt>
  <dd><%= @mutual_fund.units %></dd>

  <dt>Investment amount:</dt>
  <dd><%= @mutual_fund.investment_amount %></dd>

  <dt>Portfolio:</dt>
  <dd><%= @mutual_fund.portfolio %></dd>

</dl>
