


<div class="row">
  <div class="col-sm-6">
    <h1>Saving_accounts</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_saving_account_path, class: 'btn btn-primary' do %>
    Add New Saving account
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Amount saved</th>
            <th>Rate of interest</th>
            <th>Listed bank</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @saving_accounts.each do |saving_account| %>
        <%= content_tag :tr, id: dom_id(saving_account), class: dom_class(saving_account) do %>
          

                      <td><%= saving_account.amount_saved %></td>
                      <td><%= saving_account.rate_of_interest %></td>
                      <td><%= saving_account.listed_bank %></td>
          
          
            <td><%= link_to 'Show', saving_account %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
